<div class="container">
    <h2>Kombuchas with Alcohol</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Brand</th>
                <th>Flavor</th>
                <th>Alcohol</th>
            </tr>
        </thead>

        <tbody>
            <% @kombuchas.each do |kombucha| %>
                <tr>
                    <td><%= link_to kombucha.brand, kombucha %></td>
                    <td><%= kombucha.flavor.name %></td>
                    <td><%= kombucha.alcohol %></td>                    
                </tr>
                <br>
            <% end %>
        </tbody>
    </table><br>
</div>
<p id="notice"><%= notice %></p><br>