<hr class="my-4">
<h1 class="font-weight-lighter">Edit Kombuchas:</h1>
<br>
<%= render 'form' %> 
<br>
<%= link_to 'Show', @kombucha, class: "btn btn-warning text-white" %>
<%= link_to 'Back', kombuchas_path, class: "btn btn-warning text-white" %>
<br>
<hr class="my-4">