<div class="container">
  <hr class="my-4">
  <h2 class="font-weight-lighter">Flavors</h2> 
  <br>        
  <table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th>Flavor</th>
      </tr>
    </thead>

    <tbody>
        <% @flavors.each do |flavor| %>
            <tr>
                <td><%= link_to flavor.name, flavor_kombuchas_path(flavor, @kombucha) %></td>
            </tr>
        <% end %>
    </tbody>
</table>
  <hr class="my-4">
</div>