<p id="notice"><%= notice %></p>
<div class="container">
  <h2>Flavors:</h2>           
  <table class="table">
    <thead>
      <tr>
        <th>Flavor</th>
      </tr>
    </thead>

    <tbody>
        <% @flavors.each do |flavor| %>
            <tr>
                <td><%= link_to flavor.name, flavor_kombuchas_path(flavor, @kombucha) %></td>
            </tr>
        <% end %>
    </tbody>
</table><br>

