<h1>Kombucha Flavors</h1>
<br>
<% @flavors.each do |flavor| %>
    <%= flavor.name %> <br>
    <%= flavor.ingredients %> <br>
    <%= flavor.alcoholic %> <br>
    <br>
<% end %>

<%= link_to 'Add new flavor', new_flavor_path %>