<body>
    <div class ="center">
    <br>
        <h1>Welcome to Kombucha Records</h1>
        <h2>Manage your favorite kombuchas here!</h2>
    <% if !user_signed_in? %>
        <h3>Login or Sign-up to Enter.</h3>
    <% end%>
    </div>
</body>