<body>
    <div class ="center">
    <br>
        <h1>Welcome to Kombucha Records</h1>
        <h2>Manage your favorite kombuchas here!</h2>
        <br>
        <br>
    <% if !user_signed_in? %>
        <h3>To enter, Login.</h3>
        <h4>New user? Signup Now!</h4>
    <% else %>
        <h3>Good to see you, <%= current_user.username %>!</h1>
    <% end%>
    </div>
</body>