<body>
    <div class ="center">
    <br>
        <h1>Kombucha Records</h1>
        <h2>Enter to manage kombuchas</h2>
    <% if !user_signed_in? %>
        <h3>Login or Sign-up to enter.</h3>
    <% end%>
    </div>
</body>